
:root {
    --back: #463B53;
    --tekst: #A2A0EF;
    --border: 0.10rem;

    --font: 'consolas', 'courier new';
}

@font-face {
    font-family: Cosmia;
    src: "p";
}

@font-face {
    font-family: NoNameYet;
    src: url(NoNameYet-1.6VF.ttf);
}

/* .ymttekst {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    font-family: nonameyet;
    color: var(--tekst);
    font-size: 5rem;
    padding: 3rem;
    max-width: 70%;
    margin-left: auto;
    margin-right:auto;
} */

.ymt {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    /* justify-content: right; */
    font-family: nonameyet;
    color: var(--tekst);
    animation-name: MINFONT;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        transition: 0.1s ease-in-out;
    font-size: 4rem;
    padding: 2rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}


    .ymttekst {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        font-family: "NoNameYet";
        color: var(--tekst);
        animation-name: MINFONT;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        transition: 0.1s ease-in-out;
        font-size: 9rem;
        /* margin-top: -10rem; */
    
      }

.ymtlinks {
font-size: 4rem;
font-family: "NoNameYet", nimbus-sans, sans-serif;
font-variation-settings: "gric" 0, "mtic" 0, "lear" 100;
color: var(--tekst);
transition: 0.5s ease-in-out;
letter-spacing: -15px;
white-space: nowrap;
}

.ymtlinks:hover {
font-size: 4rem;
font-family: "NoNameYet", nimbus-sans, sans-serif;
font-variation-settings: "gric" 0, "mtic" 0, "lear" 0;
letter-spacing: normal;
}

@keyframes MINFONT {
    0% {
      font-variation-settings: "gric" 0, "mtic" 0, "lear" 0;
      letter-spacing: normal;
    }
  
    50% {
      font-variation-settings: "gric" 20, "mtic" 11, "lear" 0;
      letter-spacing: -2px;
    }
  
    100% {
      font-variation-settings: "gric" 0, "mtic" 0, "lear" 0;
      letter-spacing: normal;
    }
  }

img {
    width:100%;
}

a {
    color: var(--font);
}

a:link {
    text-decoration: none;
    }
    
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline var(--tekst);
    }
    
    a:active {
    text-decoration: none;
    }


h2 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.9rem;
    line-height: 0.2;
    letter-spacing: 0.02em;
    text-wrap: wrap;
    padding-left: 1rem;
}

h3 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1.1rem;
    line-height: 0.9;
    letter-spacing: 0.02em;
    text-wrap:wrap;
}

h4 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.9rem;
    line-height: 0.5;
    letter-spacing: 0.02em;
    text-wrap: wrap;
}

h5 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.9rem;
    line-height: 0.5;
    letter-spacing: 0.02em;
    text-wrap: wrap;
    padding-left: 1rem;
}

h6 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.9rem;
    line-height: 1;
    letter-spacing: 0.02em;
    text-wrap: wrap;
    padding-left: 1rem;
}

body {
    background-color: var(--back); 
}


.mini {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.mini {
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.main {
    display: grid;
    grid-template-columns: 18rem 1fr;
    width: 100%;
}

.meny {
    /* display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: start; */
    position: fixed;

    width: 13.4rem;
    height: 90vh;
    
    border: var(--border) dashed var(--tekst);
    
    margin-right: 0.4rem;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.innhold {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    border: var(--border) dashed var(--tekst);
    grid-template-columns: 25% 25% 25% 25%;
    padding: 1rem;
    overflow: hidden;

    img {
        width:100%;
    }

    video {
        width: 100%;
    }
}

.line {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    border-bottom: var(--border) dashed var(--tekst);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bilde {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    position:relative;
    z-index: 1;
    padding-bottom: 0.3rem;
}

.bilder1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    width: 100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
    align-content: start;
    gap:0.3rem;
}

.bilder2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
    width:100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
    align-content: start;
    gap:0.3rem;
}

.tunder {
    outline: var(--border) dashed var(--tekst);
    outline-offset: px;
}

.fire1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    width: 100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.fire2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    width: 100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.fire3 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
    width: 100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.fire4 {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    position: relative;
    height: 100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.bildem {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 5%; 
    padding-bottom: 5%; 
    padding-right: 9%;
    padding-left: 9%;
    /* width: auto; */
    position: relative;
    object-fit: contain;
}

iframe {
    display:grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

.bildemidt {
    display:grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

.bildemain {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    max-height: 100%;
    min-height:100vh;
    width: auto;
}

.me {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width:auto;
    height: 100%;
    background: url(bilder/heisskiss.png);
    background-size: 100%;
    margin: 2rem;
}

.me:hover {
    background: url(bilder/heis.jpg);
    background-size: 100%;
}



.galleri:hover {
    opacity:50%;
    z-index: -5;
}

.video {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    padding-right: 10rem;
    padding-left: 10rem;
    width: auto;
}

.video1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.video2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 100%;
}

.tekst { 
    /* ikke veldig leselig */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
    max-width: 70%;
    margin-left: auto;
    margin-right:auto;
}

.costekst {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    font-family: cosmia;
    color: black;
    font-size: 5rem;
    padding: 3rem;
    max-width: 70%;
    margin-left: auto;
    margin-right:auto;
}



.tekstkant { 
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
    border: var(--border) dashed var(--tekst);
}

.tekstvb1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
    align-self: center;
}

/* @media (max-width=950px) {
    .tekstvb1 {
        display: block;
    }
    
} */


.tekstvb2 {
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding-top: 1rem;
    padding: 1rem;
    align-self: center;
}

.tekstgl {
    display:flex;
    font-family: 'consolas', 'courier new';
    font-style: normal;
    color: black;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

.kontakt { 
    /* display: grid;
    grid-column-start: 3;
    grid-column-end: 5; */
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
    margin-left: 1rem;
    margin-top: 5rem;
    border: var(--border) dashed var(--tekst);
}

.ommeg {
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

.foot {
    padding-top: 5rem;
}

@media only screen and (max-width: 600px) {  

    :root {
        --fontm: 'consolas', 'courier new'
    }
    body {
        background-color: var(--back); 
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    
    .innhold {
        border: var(--border) dashed var(--tekst);
        grid-template-columns: 50% 50%;
        padding: 1rem;
        overflow: hidden;
        position:relative;
        margin-top: 400px;
    }
    .meny {
        position: absolute;
        z-index: 100;
        width:auto;
        height: auto;
        
        border: none;
        margin-right: 0.4rem;
    
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }



    .mini {
        display: none;
    }
    
    h3 {
        font-family: var(--font);
        font-style: normal;
        color: var(--tekst);
        text-decoration: underline;
        font-size: 1.1rem;
        line-height: 0.5;
        letter-spacing: 0.02em;
        text-wrap:wrap;
        line-break: -0.2rem;
    }
    
    h4 {
        font-family: var(--font);
        font-style: normal;
        color: var(--tekst);
        font-size: 0.9rem;
        line-height: 0.3;
        letter-spacing: 0.02em;
        text-wrap: wrap;
        line-break: -0.5rem;
    }
    
    h5 {
        font-family: var(--font);
        font-style: normal;
        color: var(--tekst);
        font-size: 0.9rem;
        line-height: 0.3;
        letter-spacing: 0.02em;
        text-wrap: wrap;
        padding-left: 1rem;
    }
    
    h6 {
        font-family: var(--font);
        font-style: normal;
        color: var(--tekst);
        font-size: 0.9rem;
        line-height: 1;
        letter-spacing: 0.02em;
        text-wrap: wrap;
        padding-left: 1rem;
    }

    .bildemain {
        /* transform: rotateZ(90deg); */
        display: block;
        height:auto;
        min-width: 100%;
        min-height: auto;
    }
    .bilder1 {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .bilder2 {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bildemidt {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .me {
        display:grid;
        grid-column-start: 1;
        grid-column-end: 3;
        width:auto;
        height: 100%;
        background: url(bilder/heisskiss.png);
        background-size: 100%;
        margin: 2rem;
    }

    .tekstvb1 {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: var(--fontm);
        /* font-family: var(--font);
        font-style: normal;
        color: var(--tekst);
        font-size: 1rem;
        padding: 3rem; */
        padding:1rem;
    }

    .tekstvb2 {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        font-family: var(--fontm);
        /* font-family: var(--font);
        font-style: normal;
        color: var(--tekst);
        font-size: 1rem;
        padding: 3rem; */
        padding:1rem;
    }

    .fire1 {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .fire2 {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .fire3 {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .fire4 {
        display: grid;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    br {
        display:none;
    }

    .bilde {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bildem {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .tekst {
        font-family: var(--fontm);
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 1rem;
    }

    .video {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 1rem;
    }
    .video1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .video2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}
