:root {
    --back: #463B53;
    --tekst: #A2A0EF;
    --border: 0.15rem;

    --font: 'courier new', 'consolas';
}

a:link {
    text-decoration: none;
    }
    
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline var(--tekst);
    }
    
    a:active {
    text-decoration: none;
    }

h3 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1.1rem;
    line-height: 0.7;
    letter-spacing: 0.02em;
    text-wrap:wrap;
}

h4 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.8rem;
    line-height: 0.7;
    letter-spacing: 0.02em;
    text-wrap: wrap;
    /* list-style-type: square; */
}

h5 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.9rem;
    line-height: 0.5;
    letter-spacing: 0.02em;
    text-wrap: wrap;
    padding-left: 1rem;
}

body {
    background-color: var(--back); 
}

.mini {
    height: auto;
    width: 100%;
    display: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}



/* .bar {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.drop {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */

.drop:active {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    height: auto;
    border-bottom: var(--border) dashed var(--tekst);
}

.innhold {
    /* display: grid;
    grid-column-start: 2;
    grid-column-end: 3; */
    border: var(--border) dashed var(--tekst);
    grid-template-columns: 25% 25% 25% 25%;
    padding: 1rem;
    overflow: hidden;

    img {
        width:100%;
    }

    video {
        width: 100%;
    }
}

.bilde {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    position:relative;
}

.bilder1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    width: 100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.bilder2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
    width:100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.bildem {
    /* display:grid;
    grid-column-start: 1;
    grid-column-end: 5; */
    /* padding-top: 3rem; 
    padding-bottom: 3rem; 
    padding-right: 10rem;
    padding-left: 10rem; */
    width: auto;
    position: relative;
}

.bildemain {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    max-height: 100%;
    width: auto;
}

.me {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width:auto;
    height: 50%;
}

.galleri:hover {
    opacity:50%;
    z-index: -5;
}

.video {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    padding-right: 10rem;
    padding-left: 10rem;
    width: auto;
}

.video1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.video2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 100%;
}

.tekst { 
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.8rem;
    padding: 3rem;
}

.tekstvb1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

.tekstvb2 {
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

.tekstgl {
    display:flex;
    font-family: var(--font);
    font-style: normal;
    color: black;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

.kontakt { 
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
    margin-left: 1rem;
    border: var(--border) dashed var(--tekst);
}

.ommeg {
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

