:root {
    --back: #463B53;
    --tekst: #A2A0EF;
    --border: 0.15rem;

    --font: 'courier new', 'consolas';
}

a:link {
    text-decoration: none;
    }
    
    a:visited {
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline var(--tekst);
    }
    
    a:active {
    text-decoration: none;
    }

@media only screen and (min-width: 768px) {
h3 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1.1rem;
    line-height: 0.5;
    letter-spacing: 0.02em;
    text-wrap:wrap;
}

h4 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.9rem;
    line-height: 0.5;
    letter-spacing: 0.02em;
    text-wrap: wrap;
}

h5 {
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 0.9rem;
    line-height: 0.5;
    letter-spacing: 0.02em;
    text-wrap: wrap;
    padding-left: 1rem;
}

body {
    background-color: var(--back); 
}

.mini {
    height: auto;
    width: 100%;
}

.main {
    display: grid;
    /* grid-column: 50px, 1fr; */
    grid-template-columns: 18rem 1fr;
    /* margin: 5px; */
    width: 100%;
}

.meny {
    position: fixed;

    width: 13.4rem;
    height: 90vh;
    
    border: var(--border) dashed var(--tekst);
    
    margin-right: 0.4rem;

    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.innhold {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    border: var(--border) dashed var(--tekst);
    grid-template-columns: 25% 25% 25% 25%;
    padding: 1rem;
    overflow: hidden;

    img {
        width:100%;
    }

    video {
        width: 100%;
    }
}

.bilde {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    position:relative;
}

.bilder1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    width: 100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.bilder2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    position: relative;
    width:100%;
    outline: 3px solid var(--back);
    outline-offset: -3px;
    z-index: 1;
}

.bildem {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    padding-right: 10rem;
    padding-left: 10rem;
    width: auto;
    position: relative;
}

.bildemain {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    max-height: 100%;
    width: auto;
}

.me {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width:auto;
    height: 50%;
}

.galleri:hover {
    opacity:50%;
    z-index: -5;
}

.video {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 3rem; 
    padding-bottom: 3rem; 
    padding-right: 10rem;
    padding-left: 10rem;
    width: auto;
}

.video1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.video2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 100%;
}

.tekst { 
    /* ikke veldig leselig */
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

.tekstvb1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

.tekstvb2 {
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

.tekstgl {
    display:flex;
    font-family: var(--font);
    font-style: normal;
    color: black;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -3;
}

.kontakt { 
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
    margin-left: 1rem;
    border: var(--border) dashed var(--tekst);
}

.ommeg {
    grid-column-start: 3;
    grid-column-end: 5;
    font-family: var(--font);
    font-style: normal;
    color: var(--tekst);
    font-size: 1rem;
    padding: 3rem;
}

}

@media only screen and (max-width: 768px) {
    .mini {
        height: auto;
        width: 100%;
    }

    .main {
        grid-template-columns: 18rem 1fr;
    }

    .meny {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;
        margin-right: 0;
    }

    .innhold {
        display:block;
    }
}