body {
    margin: 0px;
    max-height: 94vh;
}

a {
    color: var(--font);
}

a:link {
    text-decoration: none;
    }
    
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline var(--tekst);
}

a:active {
    text-decoration: none;
}

::selection {
    color:rgb(255, 3, 3);
    background: rgb(83, 23, 23);
}

@keyframes back{
    0% {left:4px; right:0px;}
    50% {left:0px; right: 4px;}
    100% {left:4px; right:0px;}
}

/* @keyframes back{
    0% {left:0x; right:4px;}
    50% {left:4px; right: 0px;}
    100% {left:0px; right:4px;}
} */

@keyframes test3{
    0% {left:100px; right:104px;}
    50% {left:104px; right:100px;}
    100% {left:100px; right:104px;}
}

@keyframes test2{
    0% {left:0px; right:14px;}
    50% {left:14px; right:0px;}
    100% {left:0px; right:14px;}
}

@keyframes test1{
    0% {left:0px; right:20px;}
    50% {left:20px; right:0px;}
    100% {left:0px; right:20px;}
}

/* @keyframes test2{
    0% {left:0px; right:14px;}
    50% {left:14px; right:0px;}
    100% {left:0px; right:14px;}
} */

@keyframes arrive{
    0% {opacity:100%}
    25% {opacity:75%}
    50% {opacity:50%}
    75% {opacity:25%}
    100% {opacity:0%}
}

@keyframes away{
    0% {opacity:0%}
    25% {opacity:25%}
    50% {opacity:50%}
    75% {opacity:75%}
    100% {opacity:100%}
}

.top {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 94vh;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

/* .welcome {

} */

.box, .story, .short, .split {
    background-color: rgb(224, 224, 224);
    border-color: black;
    border-style: solid;
    z-index: -1;
    font-family: var(--font);
    font-style: italic;
    text-align: center;
    color: var(--tekst);
    font-size: 1.1rem;
    padding: 1rem;
    margin: 1rem;
    /* margin-bottom: 0rem; */
    /* height:fit-content; */

    img {
        width: 100%;
        
    }
}

.story {
    width: 50%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    text-align: left;
}

.short {
    width: 50%;
    height:fit-content;
    text-align: left;
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.split1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}
.split2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

.click:hover {
    background-color: rgb(133, 133, 133);
}

.click:hover > .wall {
    animation-name: away;
}

.shh {
    display: none;
}

@media only screen and (max-width: 600px) {  
    .shh {
    background-color: aquamarine;
    display: flex;
}
}

.main {
    height: 94vh;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    /* background-color: rgb(181, 181, 181); */
}

.main1 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 94vh;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    z-index: -1;

    animation-name: test1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.main2 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 94vh;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    z-index: -2;

    animation-name: test2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.main3 {
    position: absolute;
    top: 0px;
    left: 10%;
    right: 10%;
    height: 94vh;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    z-index: -3;
    animation-name: test3;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    /* img {
        width:100%;
    } */
}

.wall {
    position: absolute;
    background-color: black;
    opacity: 0%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 94vh;
    width:auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    z-index: 0;

    animation-name: arrive;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.back {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 94vh;
    width:auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    z-index: -4;
    animation-name: back;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    /* img {
        width:100%;
    } */
}

.background {
    /* max-width: 94vw; */
    width:fit-content;
}

.welcome {
    position: absolute;
}


/* .cavel {
    justify-self: flex-start;
    height: 100%;
}

.caver {
    justify-self: flex-end;
    height: 100%;
} */